:root {
  --cafe-au-lait: hsla(29, 39%, 46%, 1);
  --light-orange: hsla(32, 93%, 83%, 1);
  --mellow-apricot: hsla(31, 86%, 75%, 1);
  --blue-munsell: hsla(191, 34%, 48%, 1);
  --sky-blue-crayola: hsla(190, 79%, 73%, 1);
  --sky-blue-dark: hsla(190, 79%, 35%, 1);
  --sky-blue-darker: hsla(190, 79%, 15%, 1);
  --sky-blue-light:  hsla(190, 79%, 93%, 1);
}

body {
  background-color: var(--mellow-apricot);
  min-height: 100vh;
}
#root {
  min-height: inherit;
  display: grid;
  place-items: center;
}
.App {
  background-color: var(--sky-blue-crayola);
  max-width: 800px;
  margin: auto;
}

header h1 {
  margin: 0;
  padding: 1em;
}
#form {
  display: flex;
  flex-direction: column;
  min-height: 30vh;
  justify-content: space-evenly;
  align-items: center;
}
#form input {
  font-size: 3em;
  min-width: 150px;
  max-width: 200px;
  text-align: center;
  padding: 0.2em;
  color: var(--blue-munsell);
  border-radius: 0.2em;
  border: 2px solid var(--cafe-au-lait);
}
#form input:focus {
  outline: none;
  border: 2px solid var(--sky-blue-darker);
}
#form button {
  min-width: 16ch;
  padding: 0.5em;
  font-size: 1.2em;
  border-radius: 1em;
  background-color: var(--sky-blue-dark);
  color: var(--sky-blue-light);
  border: 1px solid var(--sky-blue-darker);
}
#form button:focus {
  outline: none;
  background-color: var(--sky-blue-darker);
}
.message {
  background-color: black;
  margin: 0;
  padding: 0.5em;
  color: var(--light-orange);
}